.click {
    background-color: lightsteelblue;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 1vw;
    transition: all 0.3s ease; /* Плавная анимация для backgroundColor и margin */
}

.click:hover {
    transform: scale(1.05);

}